<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sauce Demo Test Suite" verbose="1">
    <listeners>
        <listener class-name="reporting.TestListener" />
    </listeners>

    <test name="Add To Cart Tests">
        <groups>
            <run>
                <include name="sanity"/>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="tests.LoginTest" />
            <class name="tests.AddToCartTest" />
            <class name="tests.EndToEndCheckoutTest"/>
        </classes>
    </test>
</suite>